
<STYLE type="text/css">
<!-- 

BODY
{
	background-color: #006600;
}

A.nounder
{
	text-decoration: none;
	color: #3333cc;
}

A.inactivemenu
{
	text-decoration: none;
	color: #00ff00;
}
  
A.activemenu
{
	text-decoration: none;
	color: #ffff00;
}

A:hover
{
	color: white;
	background-color: red;
	text-decoration: none;
}

.nobgrepeat
{
	background-repeat: no-repeat;
}

.topHeading
{
	background-color: #ccccff;
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	text-align: center;
	padding-right: 30px;
	width: 100%;
}

.centertopHeading
{
	background-color: #ccccff;
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	text-align: center;
	padding-right: 30px;
	width: 100%;
}

.subHeading
{
	background-color: #ccccff;
	border-style: none;
	border-color: blue;
	border-width: 1px;
	text-align: left;
	font-style: italic;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.shortHeading
{
	background-color: #ccccff;
	border-style: none;
	border-color: blue;
	border-width: 1px;
	text-align: left;
	font-style: italic;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bottomLinks
{
    font-family: Tahoma, Arial;
    font-style: plain;
    font-size: 1;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: plain;
    text-align: center;
}

.darkerContent
{
	background-color: #dddddd;
	width: 100%;
	border-width: 1px;
	border-color: #eeeeff;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

// -->
</STYLE>
